<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
     <title>Plantas - {{ categoria }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <h1>Plantas - {{ categoria|title }}</h1>
    <a href="{% url 'RelatorioApp:cadastrar_plantas' categoria %}" class="btn btn-success mb-3">Cadastrar Nova Planta</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nome</th><th>Data Plantio</th><th>Adubo</th><th>Fase</th><th>Observação</th><th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for planta in plantas %}
            <tr>
                <td>{{ planta.nome }}</td>
                <td>{{ planta.Data_Do_Plantio }}</td>
                <td>{{ planta.Adubo }}</td>
                <td>{{ planta.Fase }}</td>
                <td>{{ planta.Observacao }}</td>
                <td>
                    <a href="{% url 'RelatorioApp:editar_plantas' planta.id %}" class="btn btn-sm btn-primary">Editar</a>
                </td>
            </tr>
            {% empty %}
                <tr><td colspan="6">Nenhum Cadastro Encontrado!</td></tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'RelatorioApp:escolher_categoria' %}" class="btn btn-secondary">Selecionar Categoria</a>
</body>
</html>